<div class="wrapper">
    <h2>{{currentRecipe?.title}}</h2>
    @if(isOwner){
        <button (click)="onDeleteRecipe(recipeId)">Delete Recipe</button>
        <div [routerLink]="['/recipes','details', recipeId,'edit']" >Edit Recipe</div>
    }
    <p>A recipe posted by {{currentRecipe?.authorUsername}}<p>
    <img src={{currentRecipe?.imageSrc}} alt="Picture of a dish">
    <h3>Full recipe:</h3>
    <article>{{currentRecipe?.details?.fullRecipe}}</article>
    <h3>Ingredients:</h3>
    <ul class="ingredientList">
        @for(ingredient of currentRecipe?.details?.ingredients; track $index){
            <li>{{ingredient}}</li>
        }
    </ul>
    <section class="commentSection">
        <app-comments [comments]="allComments"
        (deleteComment)="onDeleteComment($event)"/>
    </section>
    @if(isLogged){
        <div class="formwrapper">
            <form #commentForm="ngForm" class="commentForm" (ngSubmit)="postComment()">
                <div class="form-group">
                    <label for="commentContent">Add new comment</label>
                    <input
                    type="text"
                    id="commentContent"
                    name="commentContent"
                    ngModel
                    #commentInput="ngModel"
                    minlength="5"
                    required
                    />
                </div>
                @if(commentInput.touched){
                    <div>
                        @if(commentInput.errors?.['minlength']){
                            <p>Minimum comment length is 3 characters</p>
                        }
                    </div>
                }
                <button>Post comment</button>
            </form>
        </div>
    }
</div>
