
.wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: #eaded2;
    align-items: center;
    justify-content: center;
}

.allContent{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 60%;
        padding: 2rem;
        gap: 20px;
}

.mainPart{
    display: flex
;
    justify-content: space-around;
    width: 80%;
    justify-content: center;
}

.heading{
    align-self: flex-start;
    font-size: 30px;
    color: #A45848;
}

.heading h2{
    align-self: flex-start;
}

.authorName:hover{
   text-decoration: underline; 
}





.controlButtons{
    cursor: pointer;
    text-align: center;
    display: flex;
    gap: 10px;
    font-weight: 500;
}

.controlButton{
    background-color: #efece8;
    padding: 10px;
    min-width: 80px;
    border-radius: 5px;
    border: 2px solid #A45848;
    transition: all 0.3s;
    color: #A45848;
}

.controlButton:hover{
    background-color: #A45848;
    color: #efece8;
}



.imgHolder{
    align-self: flex-start;
    overflow: hidden;
    width: 40%;
}

.imgHolder img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: fill;
}




.recipeIngredients{
    display: flex;
    height: auto;
    min-width: 50%;
    justify-content: flex-start;
    gap: 10px;
}

.fullRecipe{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 30%;
    max-width: 40%;
}

.fullRecipe p{
    width: 100%;  
    height: 300px; 
    overflow: auto; 
    word-wrap: break-word;
}

.postDate{
    color: black;
    font-size: 16px;
    font-style: italic;
    display: flex;
    gap: 5px;
}

.fullRecipe h3{
    text-align: left;
}


.ingredientHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    max-width: 25%;
}

.ingredientList{
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 1.3rem;
    width: 100%;
}

.left{
    text-align: left;
}

.commentSection{
    margin-top: 40px;
    /* align-self: center; */
    padding: 10px;
}


.formwrapper{
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    background-color: #efece8;
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

}

.columnFormat{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
    align-items: center;
}

.commentForm{
    display: flex;
    width: 90%;
    gap: 10px;
    flex-direction: column;
}



.commentForm button:hover{
    background-color:rgb(214, 167, 120);
}

.form-group{
    display: flex;
    gap: 10px;
    align-self: center;
    align-items: center;

}

.errorParagraph{
    margin-left: 30px;
    align-self: center;
    text-align: center;
    color: rgb(172, 26, 26);
}

.form-group textarea{
    padding: 10px;
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    outline: none;
    border: none;
    resize: none;
    border: 1px solid #a7a5a4;
    background-color: #efece8;
}

.form-group textarea.ng-invalid.ng-touched{
    border: 2px solid rgb(187, 14, 14);
}

.form-group textarea:focus{
    outline: none;
    box-shadow: inset 0 0 3px black;
}

/* .actionButtons{
    display: flex;
} */



.formwrapper button{
    align-self: flex-end;
}

.commentForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentForm label{
    align-self: flex-start;
}

.commentForm .controlButton{
    font-size: 16px;
    font-weight: bold;
}


.commentForm .controlButton:hover{
    background-color: #A45848;
    color: #efece8;
}




