<div class="wrapper">
  <div class="about">
    <h1>About Us:</h1>
    <p>Welcome to Chef's Rest! A website that brings together enthusiasts and professional cooks who are keen on sharing their experience through recipes and opinions. We are dedicated to growing the largest chef (and junior chef) community.</p>
    <h2>Contact us:</h2>
    <p>If you have any questions, feedback, or just want to say hi, feel free to reach out:</p>
  </div>
  <div class="contact">
    <ul class="contactList">
      <li>Email: <a href="mailto:lubaka05@gmail.com">lubaka05&#64;gmail.com</a></li>
      <li>Github: <a href="https://github.com/Lepp3" target="_blank">https://github.com/Lepp3</a></li>
    </ul>
  </div>
  </div>
