.singleComment{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    background-color: #3d494b;
    color: white;
}

.metaData{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.userProfile{
    width: max-content;
    cursor: pointer;
}

.userProfile:hover{
    text-decoration: underline;
}

.commentContent{
    margin-top: 10px;
    padding-bottom: 10px;
}

.deleteComment{
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 34, 34);
}

.postDate{
    font-style:italic;
}

.deleteComment:hover{
    background-color: rgb(146, 26, 26);
    color: white;
}

.likeComment{
    border: 1px solid black;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(150, 122, 94);;
}