.singleComment{
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    background-color: #efece8;
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.metaData{
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.userProfile{
    width: max-content;
    cursor: pointer;
    font-weight: bold;
}

.userProfile:hover{
    text-decoration: underline;
}

.commentContent{
    margin-top: 10px;
    padding-bottom: 10px;
    color: black;
    
}

.deleteComment{
    /* align-self: flex-end; */
    padding: 5px;
    align-items: center;
    justify-content: center;
    
}

.postDate{
    font-style:italic;
    color: #55565b;
    
}

.deleteComment:hover{
    text-decoration: underline;
    cursor: pointer;
}

.likes{
    display: flex;
    gap: 5px;
}

.likesData{
    display: flex;
    gap: 0.3rem;
    justify-content: space-between;
}