
.navWrapper{
    color: #A45848;
    /* width: 33%; */
}

.navMenu{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.navButton{
    padding: 5px;
    min-width: 80px;
    transition: all 0.3s;

}

.navButton:hover{
    border-top: 1px solid #A45848;
    border-bottom: 1px solid #A45848;
    /* transform: translateY(-10px); */
}
