
.navWrapper{
    flex: 0 0 60%;
    margin-left: 300px;
}

.navMenu{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.navButton{
    padding: 5px 10px;
    
    border-radius: 5px;
}

.navButton:hover{
    background-color: rgb(238, 104, 74);
}
