@if(currentRecipe){
    <div class="wrapper">
        <div class="frame">
        <form #editForm="ngForm" class="editForm" (ngSubmit)="onEditSubmit()">
            <div class="headers">
                <h2>Edit</h2>
            </div>

            <div class="groups">
            <div class="form-group">
                <label for="title">Name</label>
                <input
                type="text"
                name="title"
                id="title"
                [(ngModel)]="currentRecipe.title"
                #titleInput="ngModel"
                minlength="4"
                maxlength="30"
                required
                placeholder="Name of recipe"
                />
            </div>
            
            <div class="form-group">
                <label for="shortInfo">Short description</label>
                <input
                type="text"
                name="shortInfo"
                id="shortInfo"
                [(ngModel)]="currentRecipe.shortInfo"
                #shortInfoInput="ngModel"
                minlength="10"
                maxlength="45"
                required
                placeholder="Short information about the recipe"
                />
            </div>
           
            <div class="form-group">
                <label for="ingredients">Ingredients (separated by ,)</label>
                <textarea
                type="text"
                name="ingredients"
                id="ingredients"
                [(ngModel)]="ingredients"
                #ingredientsInput="ngModel"
                minlength="10"
                required
                class="small"
                placeholder="Tomatoes, Potatoes, Flour"
                ></textarea>
            </div>
            
            <div class="form-group">
                <label for="fullRecipe">Instructions</label>
                <textarea
                type="text"
                name="fullRecipe"
                id="fullRecipe"
                [(ngModel)]="currentRecipe.details.fullRecipe"
                #fullRecipeInput="ngModel"
                minlength="10"
                required
                class="big"
                placeholder="Full recipe"
                ></textarea>
            </div>
            
            <div class="form-group">
                <label for="image">Picture url</label>
                <input
                type="text"
                id="image"
                name="image"
                required
                [(ngModel)]="currentRecipe.imageSrc"
                #imageInput="ngModel"
                placeholder="https://imageUrl.com"
                />
            </div>
        </div>
            <div class="submitButton">
                <button class="controlButton">Save Changes</button>
            </div>
            
        </form>
    
    </div>
    </div>
}@else {
    <p>Loading...</p>
}

