<div class="container">
    <div class="wrapper">
        <div class="heading">
            <h2>Log in</h2>
        </div>
      <form #loginForm="ngForm" class="regForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
          type="text" 
          id="email" 
          name="email" 
          required 
          ngModel 
          #emailInput="ngModel"
          />
        </div>
        @if(emailInput.touched){
          @if(emailInput.errors?.['required']){
            <p>Email is required</p>
          }
        }
        <div class="form-group">
          <label for="password">Password</label>
          <input 
          type="password" 
          id="password"
          name="password" 
          required 
          ngModel 
          #passwordInput="ngModel"/>
        </div>
        @if(passwordInput.touched){
          @if(passwordInput.errors?.['required']){
            <p>Password is required</p>
          }
        }
          <button [disabled]="buttonDisabled" >Login</button>
      </form>
      @if(errorMessage){
        <div>{{errorMessage}}</div>
      }
      <div class="registered">
        <p>Not a member?</p>
        <a routerLink="/register">Sign up</a>
      </div>
    </div>
</div>
