.wrapper{
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    background-color:#eaded2;
    font-family: 'Roboto', serif;
    align-items: center;
    justify-content: flex-start;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #efece8;
    align-self: center;
    width: 350px;
    padding: 1.3rem;
    gap: 100px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    border: 1px solid #eaded2;
}



.groups{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.headers{
    color:#A45848;
}

.headers h2{
    font-family: "Roboto Serif", serif;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}



.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
}

.form-group input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 0.5rem;
    background-color:  #efece8;
    border: 1px solid #a7a5a4;
}

.form-group input:focus{
    outline: none;
    box-shadow: inset 0 0 3px black;
}




.submitButton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.controlButton{
    background-color: #A45848;
    padding: 10px;
    min-width: 80px;
    border-radius: 5px;
    border: 2px solid #A45848;
    transition: all 0.3s;
    color: #efece8;
    font-weight: bold;
}

.controlButton:hover{
    background-color: #A45848;
    color: #efece8;
}



.form-group input.ng-invalid.ng-touched{
    border: 2px solid rgb(187, 14, 14);
}

.registered{
    display: flex;
    gap: 5px;
}

.registered a{
    color: blue;
}

.registered a:hover{
    text-decoration: underline;
}
