<div class="container">
    <div class="wrapper">
        <div class="heading">
            <h2>Log in</h2>
        </div>
      <form #loginForm="ngForm" class="regForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
          type="text" 
          id="email" 
          name="email" 
          required 
          ngModel 
          #emailInput="ngModel"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
          type="password" 
          id="password"
          name="password" 
          required 
          ngModel 
          #passwordInput="ngModel"/>
        </div>
        <button>Login</button>
      </form>
      <div class="registered">
        <p>Not a member?</p>
        <a routerLink="/register">Sign up</a>
      </div>
    </div>
</div>
