@if(currentUserInfo){
    <div class="wrapper">
        <form #profileEditForm="ngForm" class="profileEditForm" (ngSubmit)="onEditSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                type="text"
                name="username"
                id="username"
                [(ngModel)]="currentUserInfo.username"
                #usernameInput="ngModel"
                minlength="4"
                maxlength="30"
                required
                />
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <input
                type="text"
                name="bio"
                id="bio"
                [(ngModel)]="currentUserInfo.bio"
                #bioInput="ngModel"
                minlength="5"
                maxlength="160"
                required
                />
            </div>
            <div class="form-group">
                <label for="imageSrc">Profile picture url</label>
                <input
                type="text"
                name="imageSrc"
                id="imageSrc"
                ngModel
                #imageInput="ngModel"
                />
            </div>
            <button>Save Changes</button>
        </form>
    </div>
}@else {
    <p>loading</p>
}
