<div class="catalog">
  <div class="frame">
    <div class="allContent">
    <div class="catalogHeader">
      <h1>Catalog</h1>
    <div class="searchField">
      <input type="text" placeholder="search for.." #filter />
      <button (click)="filterByInput(filter,filter.value)">Search</button>
      <button (click)="reset()">Reset</button>
    </div>
    <div class="filterBy">
      <label>Filter by</label>
      <select  class="select" name="filter" id="filter" (change)="selectChange($event)">
        <option value="Newest">Newest</option>
        <option value="Oldest">Oldest</option>
        <option value="Most liked">Most liked</option>
        <option value="Most commented">Most commented</option>
      </select>
    </div>
    </div>
    @if(recipes.length == 0){
      <h2>No recipes yet</h2>
    }@else {
      <div class="recipeSection">
      <ul class="recipeList">
      @for(recipe of filteredRecipes; track $index){
        <li ><app-single-recipe [singleRecipe]="recipe" /></li>
      }
    </ul>
  </div>
    }
  </div>
  </div>
</div>
 
    
  
