<div class="catalog">
    <h1>Recipe Catalog</h1>
    <div class="searchField">
      <input type="text" placeholder="search for.." #filter />
      <button (click)="filterByInput(filter,filter.value)">Search</button>
      <button (click)="reset()">Reset</button>
    </div>
    <div class="buttonsField">
      <div routerLink="/create">Create a recipe</div>
    </div>
    <div class="filterBy">
      <p>Filter by :</p>
      <div (click)="newest()">Newest</div>
      <div (click)="oldest()">Oldest</div>
      <div (click)="mostLiked()">Most liked</div>
      <div (click)="mostCommented()">Most commented</div>
    </div>
    @if(recipes.length == 0){
      <h2>No recipes yet</h2>
    }@else {
      <div class="recipeSection">
      <ul class="recipeList">
      @for(recipe of filteredRecipes; track $index){
        <li class="singleRecipe"><app-single-recipe [singleRecipe]="recipe" /></li>
      }
    </ul>
  </div>
    }
    
  
