.catalog{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    background-color:#eaded2;
    height: auto;
    font-family: 'Roboto', serif;
    color: #A45848;
    align-items: center;
}


.catalogHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
}

.catalog h1{
    text-align: center;
    font-size: 3rem;
    min-height: 50px;
    /* margin-top: -10px; */
    /* align-self: flex-start; */
}


.allContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchField{
    align-items: center;
    display: flex;
    gap: 10px;
    min-height: 50px;
}

.searchField input[type="text"]{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.725);
    font-weight: 500;
    max-height: 35px;
    min-width: 300px;
}

.searchField input[type="text"]:focus{
    outline: none;
}

.searchField button{
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    font-size: 1em;
    max-height: 35px;
    min-width: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #A45848;
    color: white;
}

.searchField button:hover{
    background-color: #bb6351;
}

.filterBy{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.select{
  border: 2px solid #A45848; 
  border-radius: 5px;
  color: #A45848;
  padding: 3px 6px;
  background-color: #efece8;;
  min-width: 80px;
  min-height: 35px;
}

.select:focus{
    border: none;
    outline: none;
}



.filterBy p{
    flex: 0 0 100%;
    text-align: center;
}

.filterBy div{
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #A45848;
    color: #efece8;

}

.filterBy div:hover{
    background-color: white;
    color: black;
}



.recipeList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 0px;
}



