<div class="wrapper">
    <div class="headings">
        <h2>Create a recipe</h2>
    </div>
    <form #creationForm="ngForm" class="creationForm" (ngSubmit)="createRecipe()">
        <div clas="form-group">
            <label for="title">Recipe's name <p>(max: 30 characters)</p></label>
            <input
            type="text"
            id="title"
            name="title"
            minlength="4"
            maxlength="30"
            required
            ngModel
            #titleInput="ngModel"
            />
        </div>
        @if(titleInput.touched){
            <div>
                @if(titleInput.errors?.['required']){
                    <p>Name is required</p>
                }
                @if(titleInput.errors?.['minlength']){
                    <p>Minimum length is 4 characters</p>
                }
            </div>
        }
        <div clas="form-group">
            <label for="shortInfo">Short info about the recipe <p>(max:130 characters)</p></label>
            <input
            type="text"
            id="shortInfo"
            name="shortInfo"
            required
            ngModel
            minlength="10"
            maxlength="130"
            #shortInput="ngModel"
            />
        </div>
        @if(shortInput.touched){
            <div>
                @if(shortInput.errors?.['required']){
                    <p>Short info is required</p>
                }
                @if(shortInput.errors?.['minlength']){
                    <p>Minimum length is 10 characters</p>
                }
            </div>
        }
        <div clas="form-group">
            <label for="ingredients">Ingredients (space in between each)</label>
            <input
            type="text"
            id="ingredients"
            name="ingredients"
            required
            minlength="10"
            ngModel
            #ingredientsInput="ngModel"
            />
        </div>
        @if(ingredientsInput.touched){
            <div>
                @if(ingredientsInput.errors?.['required']){
                    <p>Ingredients are required</p>
                }
                @if(ingredientsInput.errors?.['minlength']){
                    <p>Minimum length is 10 characters</p>
                }
            </div>
        }
        <div clas="form-group">
            <label for="fullRecipe">Full recipe</label>
            <input
            type="text"
            id="fullRecipe"
            name="fullRecipe"
            required
            minlength="10"
            ngModel
            #fullRecipeInput="ngModel"
            />
        </div>
        @if(fullRecipeInput.touched){
            <div>
                @if(fullRecipeInput.errors?.['required']){
                    <p>Full recipe is required</p>
                }
                @if(fullRecipeInput.errors?.['minlength']){
                    <p>Minimum length is 10 characters</p>
                }
            </div>
        }
        <div clas="form-group">
            <label for="image">Picture of the dish</label>
            <input
            type="text"
            id="image"
            name="image"
            required
            ngModel
            #imageInput="ngModel"
            />
            @if(imageInput.touched){
                <div>
                    @if(titleInput.errors?.['required']){
                        <p>Image is required</p>
                    }
                </div>
            }
        </div>
        <button [disabled]="form?.invalid">Create Recipe</button>
    </form>
</div>
