<div class="wrapper">
    <div class="frame">
    <form #creationForm="ngForm" class="creationForm" (ngSubmit)="createRecipe()">
        <div class="headers">
            <h2>Create a recipe</h2>
        </div>

        <div class="groups">
        <div class="form-group">
            <label for="title">Name</label>
            <input
            type="text"
            id="title"
            name="title"
            minlength="4"
            maxlength="30"
            required
            ngModel
            #titleInput="ngModel"
            />
            @if(titleInput.touched){
                <div>
                    @if(titleInput.errors?.['required']){
                        <p class="errorMessage">Name is required</p>
                    }
                    @if(titleInput.errors?.['minlength']){
                        <p class="errorMessage">Minimum length is 4 characters</p>
                    }
                </div>
            }
        </div>
        
        <div class="form-group">
            <label for="shortInfo">Description</label>
            <input
            type="text"
            id="shortInfo"
            name="shortInfo"
            required
            ngModel
            minlength="10"
            maxlength="45"
            #shortInput="ngModel"
            />
            @if(shortInput.touched){
                <div>
                    @if(shortInput.errors?.['required']){
                        <p class="errorMessage">Short info is required</p>
                    }
                    @if(shortInput.errors?.['minlength']){
                        <p class="errorMessage">Minimum length is 10 characters</p>
                    }
                </div>
            }
        </div>
        
        <div class="form-group">
            <label for="ingredients">Ingredients (separated by ,)</label>
            <textarea
            type="text"
            id="ingredients"
            name="ingredients"
            required
            minlength="10"
            ngModel
            #ingredientsInput="ngModel"
            class="small"
            ></textarea>
            @if(ingredientsInput.touched){
                <div>
                    @if(ingredientsInput.errors?.['required']){
                        <p class="errorMessage">Ingredients are required</p>
                    }
                    @if(ingredientsInput.errors?.['minlength']){
                        <p class="errorMessage">Minimum length is 10 characters</p>
                    }
                </div>
            }
        </div>
        
        <div class="form-group">
            <label for="fullRecipe">Instructions</label>
            <textarea
            type="text"
            id="fullRecipe"
            name="fullRecipe"
            required
            minlength="10"
            ngModel
            #fullRecipeInput="ngModel"
            class="big"
            ></textarea>
            @if(fullRecipeInput.touched){
                <div>
                    @if(fullRecipeInput.errors?.['required']){
                        <p class="errorMessage">Full recipe is required</p>
                    }
                    @if(fullRecipeInput.errors?.['minlength']){
                        <p class="errorMessage">Minimum length is 10 characters</p>
                    }
                </div>
            }
        </div>
        
        <div class="form-group">
            <label for="image">Picture url</label>
            <input
            type="text"
            id="image"
            name="image"
            required
            ngModel
            #imageInput="ngModel"
            />
            @if(imageInput.touched){
                <div>
                    @if(imageInput.errors?.['required']){
                        <p class="errorMessage">Image is required</p>
                    }
                </div>
            }
        </div>
    </div>
        <div class="submitButton">
            <button class="controlButton">Create Recipe</button>
        </div>
        
    </form>
</div>
</div>
