.accessWrapper{
    display: flex;
    gap: 10px;
}

.accessWrapper>*{
    display: flex;
    gap: 15px;
}

.accessButton{
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.accessButton:hover{
    background-color: rgb(238, 104, 74);;
    transform: scale(1.1);
}