.accessWrapper{
    display: flex;
    gap: 10px;
}

.accessWrapper>*{
    display: flex;
    gap: 15px;
}

.accessButton{
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.accessButton:hover{
    background-color: rgb(214, 167, 120);
    transform: scale(1.1);
}