<div class="accessWrapper">
    @if(isLogged){
        <div class="Auth">
            <a class="accessButton callToAction" routerLink="/create">Create</a>
            <a class="accessButton" [routerLink]="['profile',(userId)]">Welcome {{username}}</a>
            <a class="accessButton" (click)="logout()">Logout</a>
        </div>
        
    }
    @else{
        <div class="noAuth">
            <a class="accessButton" routerLink="/login">Login</a>
            <a class="accessButton" routerLink="/register">Register</a>
        </div>
    } 
</div>

