.heroSection{
    background-image: url("../../../public/images/delightin-dee-_WI3DGseB3g-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 150px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.headings{
    font-size: 2rem;
    text-align: center;
    color: black;
}

.left{
    font-size: 1.6rem;
    text-align: center;
    color: black;
    align-self: flex-start;
}

.loginRegister{
    font-size: 2rem;
    text-align: center;
    margin-top: 150px;
    color: #A45848;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 600;
    align-self: flex-end;
}

.join-us a{
    background-color: #A45848;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    }

.join-us a:hover{
    background-color: #be6655;
    color: white;
}