<div class="registerWrapper">
    <h2>Register</h2>
    <form action="#">
        <label for="email">E-Mail</label>
        <input type="text" id="email" placeholder="Registration e-mail">
        <label for="userName">Username</label>
        <input type="text" id="userName" placeholder="How will people see you">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Your password">
        <input type="submit" value="Register">
    </form>
</div>
